@model Clinic.Models.ViewModels.AddPhysicalExamVM

@{
    ViewData["Title"] = "Add Laboratory Exam";
}

<link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>

<h4>Add Laboratory Exam</h4>

<form method="post">
    <input type="hidden" asp-for="AppointmentId" />
    <input type="hidden" asp-for="AvailableExams" />

    <div class="mb-3">
        <label asp-for="ExamSelectionId" class="form-label">Exam Type</label>
        <select asp-for="ExamSelectionId" class="form-select" id="examSelect">
            <option value="">-- Select exame --</option>
            @foreach (var exam in Model.AvailableExams)
            {
                <option value="@exam.Shortcut">@exam.Name (@exam.Shortcut)</option>
            }
        </select>
        <span asp-validation-for="ExamSelectionId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Result" class="form-label">Exam Result</label>
        <textarea asp-for="Result" class="form-control" rows="3"></textarea>
        <span asp-validation-for="Result" class="text-danger"></span>
    </div>

    <div class="row">
        <div class="col-6 text-start">
            <a asp-action="UpdateAppointment" asp-route-id="@Model.AppointmentId" class="btn btn-secondary">Cancel</a>
        </div>
        <div class="col-6 text-end">
            <button type="submit" class="btn btn-success">Save Exam</button>
        </div>
    </div>
</form>

<script>
    new TomSelect("#examSelect", {
        create: false,
        sortField: {
            field: "text",
            direction: "asc"
        },
        placeholder: "Search for a exams..."
    });
</script>