
@model LabExam


<p>@Model.LabExamId</p>
<p>@Model.RequestDate</p>
<p>@Model.Status.ToString()</p>


TODO: add doctor notes
TODO: add HeadLabNotes
TODO: add a text field for result input
TODO: add field to change status
TODO: add exam selection 
TODO: add delete exam field
