
@model LabExamVM


<p>@Model.LabExam.DoctorsNotes</p>
<p>@Model.LabExam.HeadLabNotes</p>
<p>@Model.ExamSelection.Name</p>
<p>@Model.LabExam.Status.ToString()</p>


TODO: add doctor notes
TODO: add HeadLabNotes
TODO: add a text field for result input
TODO: add field to change status
TODO: add exam selection 
TODO: add delete exam field
